numpy>=1.19.2
pyfftw>=0.12.0
numba>=0.54.1
scipy>=1.7.3
scikit-learn>=1.0.1
pandas>=1.3.4
matplotlib>=3.5.0
psutil>=5.8.0
recommonmark
sphinx
sphinx-rtd-theme
sphinxcontrib-bibtex
sphinx-autobuild
rstcheck
sphinx-autodoc-typehints
numpydoc